<div class="form-group {{ inputClass }}"
     [formGroup]="inputFormGroup"
     [ngClass]="{'has-error' : hasErrors() || remoteError, 'changed': isChanged && displayChanges }">

    <label class="input-switch">
        <input type="checkbox"
               value="1"
               (change)="onChange()"
               [attr.disabled]="inputDisabled?'':null"
               formControlName="{{ inputFormControlName }}">
        <div class="slider"></div>
    </label>

    <div class="invalid-feedback" *ngIf="hasErrors()">
        {{ 'forms.errors.required' | translate }}
    </div>
    <div class="invalid-feedback" *ngIf="remoteError">
        {{ remoteError }}
    </div>
</div>

