<div class="form-group {{ selectClass }}"
     [formGroup]="selectFormGroup"
     [ngClass]="{'has-error' : hasErrors() || remoteError }">

    <label class="text-small" *ngIf="inputLabel"><strong>{{ inputLabel | translate }}</strong></label>

    <iq-select2 [css]="'form-control select2 ' + controlClass"
                minimumInputLength="0"
                referenceMode="id"
                deleteIcon="bd-icon icon-cross"
                [noSearchBox]="noSearchBox"
                [searchDelay]="filterUrl && filterProperties ? 250 : 0"
                [placeholder]="selectPlaceholder | translate"
                [formControlName]="selectFormControlName"
                [multiple]="multiple"
                [resetable]="resetable"
                [dataSourceProvider]="dataSourceProvider"
                [selectedProvider]="selectedProvider"
                [iqSelect2ItemAdapter]="iqSelect2ItemAdapter"
                (onSelect)="onSelect.emit($event)"
                (onRemove)="onRemove.emit($event)"
                [selectDisabled]="selectDisabled"
                [vob]="vob" [vobSync]="vobSync" [vobAsync]="vobAsync" [vobUseTimeout]="vobUseTimeout" [vobWithOnPush]="vobWithOnPush"></iq-select2>

    <div class="invalid-feedback" *ngIf="hasErrors()">
        {{ 'forms.errors.required' | translate }}
    </div>
    <div class="invalid-feedback" *ngIf="remoteError">
        {{ remoteError | translate }}
    </div>
</div>

