<div class="form-group file-uploader {{ uploaderClass }}" [ngClass]="{'has-error' : hasError() }">

    <div class="file-uploader-dropzone" [ngClass]="{ 'file-uploader-dropzone-active': dropZoneOver, 'file-uploader-dropzone-error': hasError() }"
         ng2FileDrop
         [uploader]="uploader"
         (fileOver)="dropZoneOver = $event">

        <span *ngIf="dropZoneOver" class="icon icon-plus"></span>

        <ng-container *ngIf="multiple">
            <ul class="file-uploader-queue">
                <li *ngFor="let item of uploader.queue" [ngClass]="{'file-uploader-uploading': item.isUploading, 'file-uploader-success': item.isSuccess, 'file-uploader-error': item.isError}" class="file-uploader-queue-item">
                    <span class='loader'>
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    {{ getTruncatedFilename(item.file.name) }}
                    <span class="bd-icon icon-cross" (click)="removeItem(item)"></span>
                    <div class="alert alert-danger" *ngIf="item.isError">
                        {{ errors[item.file.name] }}
                    </div>
                </li>
                <li *ngFor="let file of uploaderFormGroup.get(uploaderFormControlName).value" class="file-uploader-queue-item file-uploader-success">
                    <a [href]="downloadLink(file.id)" target="_blank">
                        {{ getTruncatedFilename(file.name) }}
                    </a>
                    <span class="bd-icon icon-cross" (click)="removeFile(file)"></span>
                </li>
            </ul>
        </ng-container>

        <div class="file-uploader-dropzone-controls">
            <label class="file-uploader-button" tooltip="{{ uploaderTooltip | translate }}" [ngClass]="{'file-uploader-full-width': fullWidth}">
                <input type="file" ng2FileSelect [uploader]="uploader" [attr.multiple]="multiple ? true : null">
                <div class="btn btn-small btn-white btn-progress" [ngClass]="{'btn-loading': uploader.isUploading && !multiple}">
                    <div class="btn-loading">
                        <span class='loader'>
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div class="btn-text">
                        <span *ngIf="multiple || uploader.queue.length === 0">{{ uploaderPlaceholder | translate }}</span>
                        <span *ngIf="!multiple && uploader.queue.length && getLastItem().isUploaded">{{ getTruncatedFilename(getLastItem().file.name) }}</span>
                    </div>
                </div>
            </label>
            <div class="alert alert-danger" *ngIf="!multiple && uploader.queue.length && getLastItem().isError">
                {{ errors[getLastItem().file.name] }}
            </div>
        </div>

    </div>


</div>

