<div class="form-group {{ dpClass }}"
     [formGroup]="dpFormGroup"
     [ngClass]="{'has-error' : hasErrors() || remoteError }">
    <label class="text-small" *ngIf="dpLabel"><strong>{{ dpLabel | translate }}</strong></label>
    <div class="input-group">
        <input class="form-control" [placeholder]="dpPlaceholder"
               ngx-mydatepicker #dp="ngx-mydatepicker"
               (focus)="showCalendar()"
               [readonly]="dpDisabled"
               [formControlName]="dpFormControlName" [options]="myOptions"
               [vob]="vob" [vobSync]="vobSync" [vobAsync]="vobAsync" [vobUseTimeout]="vobUseTimeout" [vobWithOnPush]="vobWithOnPush">

        <!--<span class="input-group-addon" (click)="toggleCalendar()">
            <i class="bd-icon icon-calendar"></i>
        </span>-->
    </div>
    <div class="invalid-feedback" *ngFor="let error of errors()">
        {{ 'forms.errors.date' | translate }}
    </div>

    <div class="invalid-feedback" *ngIf="remoteError">
        {{ remoteError | translate }}
    </div>
</div>

